workflows/AI Agent - Customer Service.json
{
  "active": true,
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zep": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get example conversations from real people": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-02-06T18:22:28.892Z",
  "id": "7NzlHuO9N42aDqtf",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AI Agent - Customer Service",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "a417c255-68aa-4b4b-8c9c-cffb083b7cb7",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        380,
        1020
      ],
      "credentials": {
        "openAiApi": {
          "id": "m4d4C96RWhMU5Tt1",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Assistant is a large language model trained by OpenAI.\n\nAssistant is designed to be able to assist with a wide range of tasks, from answering simple questions to providing in-depth explanations and discussions on a wide range of topics. As a language model, Assistant is able to generate human-like text based on the input it receives, allowing it to engage in natural-sounding conversations and provide responses that are coherent and relevant to the topic at hand.\n\nAssistant is constantly learning and improving, and its capabilities are constantly evolving. It is able to process and understand large amounts of text, and can use this knowledge to provide accurate and informative responses to a wide range of questions. Additionally, Assistant is able to generate its own text based on the input it receives, allowing it to engage in discussions and provide explanations and descriptions on a wide range of topics.\n\nOverall, Assistant is a powerful system that can help with a wide range of tasks and provide valuable insights and information on a wide range of topics. Whether you need help with a specific question or just want to have a conversation about a particular topic, Assistant is here to assist.",
          "returnIntermediateSteps": true
        }
      },
      "id": "ca569f04-5fe3-468a-849e-cf43dddbdf0f",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.2,
      "position": [
        440,
        720
      ]
    },
    {
      "parameters": {},
      "id": "995e983e-4306-4f97-8b31-cc4f450329ed",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1,
      "position": [
        220,
        720
      ],
      "webhookId": "69e5ed75-d4b7-41f7-90eb-63693bd17f95"
    },
    {
      "parameters": {},
      "id": "50426b92-973c-4767-987c-71672a2f18e8",
      "name": "Zep",
      "type": "@n8n/n8n-nodes-langchain.memoryZep",
      "typeVersion": 1.1,
      "position": [
        500,
        1020
      ],
      "credentials": {
        "zepApi": {
          "id": "KBCPTkEFEMdhzNym",
          "name": "Zep Api account"
        }
      }
    },
    {
      "parameters": {},
      "id": "2b161360-6b5f-49a7-9148-58b269bab9e1",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        600,
        1020
      ]
    },
    {
      "parameters": {
        "name": "Schaden",
        "description": "=Use this tool to retrieve more info on how to handle the customer request. Please combine the response from this tool to compose a helpful answer for the customer. Use {{ $json.chatInput }} as input.",
        "workflowId": "GTZR2JrgNO9LO518"
      },
      "id": "b7e4c2aa-666e-4270-a8f6-f4407e9d4e7b",
      "name": "Get example conversations from real people",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1,
      "position": [
        720,
        1020
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2024-02-08T04:30:30.000Z",
  "versionId": "662ba5a6-7062-439c-bcaa-171ab3069402"
}