workflows/Billbee Aufträge.json
{
  "active": false,
  "connections": {
    "Success?": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Spreadsheet File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spreadsheet File": {
      "main": [
        [
          {
            "node": "Write Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-12-05T10:38:27.248Z",
  "id": "EAJB6ff9c1Of5q06",
  "meta": null,
  "name": "Billbee Aufträge",
  "nodes": [
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "Id",
              "stringValue": "={{ $json.Id || \"none\" }}"
            },
            {
              "name": "OrderRef",
              "stringValue": "={{ $json.OrderNumber || \"none\" }}"
            },
            {
              "name": "CustomerId",
              "stringValue": "={{ $json.Customer.Id }}"
            },
            {
              "name": "date",
              "stringValue": "={{ $json.CreatedAt }}"
            }
          ]
        },
        "include": "none",
        "options": {
          "includeBinary": false
        }
      },
      "id": "b69c3d45-7e8c-4d9e-b583-33351971ae71",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.1,
      "position": [
        480,
        -1780
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.body.Data }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "a784c12f-3206-461d-91b9-b89e81a634e1",
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        300,
        -1340
      ]
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "3acb002e-8a36-4352-be24-fe52d8e65bc0",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        680,
        -1360
      ],
      "webhookId": "ae6d95e0-ceeb-4522-b8ea-4aa44eef43fc"
    },
    {
      "parameters": {
        "url": "https://app.billbee.io/api/v1/orders",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "pageSize",
              "value": "2"
            },
            {
              "name": "page",
              "value": "=1"
            },
            {
              "name": "minOrderDate",
              "value": "2024-01-01"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Billbee-Api-Key",
              "value": "2855BE2C-1D67-4AB0-9DEB-3073E6D27B1C"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "2c2a8f96-9807-4d96-b4c9-44114251badd",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -260,
        -1340
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "xANPcw3p1Nh0wF9J",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {},
      "id": "05d4806c-99e6-4bb2-b16c-1d5f218110fa",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1280,
        -1620
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.Data",
        "options": {}
      },
      "id": "8724a889-9452-46d0-bbf1-bfefc595d76c",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 3,
      "position": [
        300,
        -1780
      ]
    },
    {
      "parameters": {
        "fileName": "/var/lib/n8n/foo.csv",
        "options": {
          "append": true
        }
      },
      "id": "59d0e049-2ffb-4c98-8a40-74d2c0a308fa",
      "name": "Write Binary File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        960,
        -1780
      ]
    },
    {
      "parameters": {
        "operation": "toFile",
        "fileFormat": "csv",
        "options": {
          "headerRow": false
        }
      },
      "id": "0fac8d7e-d12c-48a7-a7ff-4401b5a0dbc4",
      "name": "Spreadsheet File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        720,
        -1780
      ]
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n\tif len(item.body.Data) == 0:\n      item.headers.statusCode = 404\nreturn _input.all()"
      },
      "id": "7de2a922-bc82-4651-95e6-a5777e27dd59",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -40,
        -1340
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-12-05T10:47:44.000Z",
  "versionId": "a1a46c97-9bc2-45ec-a1f2-e4736348ba61"
}