workflows/My workflow 2.json
{
  "active": false,
  "connections": {
    "Email suchen": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Segment hinzufügen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Aus Segment entfernen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Email suchen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-04-30T12:45:41.935Z",
  "id": "11",
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c40eca92-295d-4172-b699-55fc1913603f",
        "options": {}
      },
      "id": "fa144037-c609-4e1f-871c-b75bed8cdf9a",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        40,
        260
      ],
      "webhookId": "c40eca92-295d-4172-b699-55fc1913603f"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "getAll",
        "limit": 1,
        "options": {
          "search": "dev@lanakk.com"
        }
      },
      "id": "34c7436f-21b8-400a-b754-baacf1f38ec9",
      "name": "Email suchen",
      "type": "n8n-nodes-base.mautic",
      "typeVersion": 1,
      "position": [
        240,
        260
      ],
      "credentials": {
        "mauticOAuth2Api": {
          "id": "20",
          "name": "Mautic account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "contactSegment",
        "operation": "remove",
        "contactId": "={{ $json.id }}",
        "segmentId": 1
      },
      "id": "0b888d2a-3790-4182-bf62-73d99a1614a6",
      "name": "Aus Segment entfernen",
      "type": "n8n-nodes-base.mautic",
      "typeVersion": 1,
      "position": [
        680,
        380
      ],
      "credentials": {
        "mauticOAuth2Api": {
          "id": "20",
          "name": "Mautic account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $node.Webhook.json.body.accepts_marketing }}",
              "value2": "={{ true }}"
            }
          ]
        }
      },
      "id": "47173c1e-7a30-41c3-902d-3c271608c5e5",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        440,
        260
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "contactSegment",
        "contactId": "={{ $json.id }}",
        "segmentId": 1
      },
      "id": "4db83f86-9ec7-41fa-8faf-7886eb539195",
      "name": "Segment hinzufügen",
      "type": "n8n-nodes-base.mautic",
      "typeVersion": 1,
      "position": [
        680,
        140
      ],
      "credentials": {
        "mauticOAuth2Api": {
          "id": "20",
          "name": "Mautic account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c83eb6ce-40dd-418c-952a-ed62a051a00b",
        "options": {}
      },
      "id": "4a01eed5-9378-47f3-98ab-e00848ba0093",
      "name": "Webhook1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        40,
        840
      ],
      "webhookId": "c83eb6ce-40dd-418c-952a-ed62a051a00b"
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "shopifyApi",
        "options": {}
      },
      "id": "dd2b8b8e-1929-49d0-88bc-3e2cc9aff981",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        260,
        840
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-04-30T13:28:06.000Z",
  "versionId": "f68ba8f5-a150-4e27-bedb-07ab522cfbb7"
}